---
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Standard: c++17
...
