# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/.deps

Makefile.in
aclocal.m4
autom4te.cache/
configure

Makefile
config.log
config.status

src/Makefile
src/Makefile.in
src/libobjs
src/dates
src/CurrencyAmountTest
src/stamp-h1
src/tstEmailAddress

CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
*.swp
*.vcxproj
*.filters
*.dir
*.sln
.cmake
build/*

settings.json
build.ninja